




<div class="container">
  <div class="row">
    <h1><%=  @blog.title %></h1>
    <h2>內容：<%= @blog.description%></h2>
    <p><%= image_tag @blog.photos, width:'300px' if   @blog.photos?%></p><br>

      <% @blog.comments.each do |comment| %>
        <div>
          <h3><%= comment.user.name %></h3> 
          <p><%= simple_format comment.commenter %>
            <em><%= time_ago_in_words(comment.created_at) %> ago -</em>
          </p>
        </div>
        <hr>
        <%end%>

      <%= form_for [@blog,@comment] do |f|%>
        <div class= "form-group">
          <%= f.text_area :commenter, placeholder: "留個言吧",class: "form-control"%>
        </div>
        <div class= "form-group">
          <%= f.submit class: "btn btn-primary"%>
          <%= f.button "取消", type: :reset, class:"btn btn-default"%>
        </div>
        <%end%>
    </div>
  </div>

